#chat.ui.one.column.page.grid
  .column
    .ui.header
      i.circular.inverted.teal.chat.icon
      .content
        | Chat
        .sub.header Have a little chit chat with other players all over the world..
    lg-message-box(lg-target-type='global', lg-target-id='global')
