h2.ui.header
  i.icon.inverted.circular.blue.comment
  | Chat
div.ui.comments(style='height: 200px; overflow:auto;')
div.ui.small.fluid.icon.input
  input.text(placeholder='Message...', type='text')
  i.mail.icon
