.chat
  table
    tr(ng-repeat='message in messages')
      td.time(ng-init='done($last)', ng-bind='message.date | date:"h:mm a"')
      td.user
        a(href='#/user/{{message.user._id}}', ng-bind='message.user.alias')
        | &nbsp;:
      td.text(ng-bind='message.text')
.ui.small.fluid.icon.input
  input.message(placeholder='Message...', type='text')
  i.mail.icon
