<div class="ui two column middle aligned relaxed grid basic segment">
    <div class="column">
        <form name="form" ng-submit="login()">
            <div class="ui form segment" ng-class="{loading: loading, warning: error}">
                <div class="ui warning message" ng-if="error">
                    <div class="header">Something went wrong, sorry!</div>
                    <ul class="list">
                        <li>{{error}}</li>
                    </ul>
                </div>
                <div class="field" ng-class="{error: form.email.$dirty && form.email.$invalid}">
                    <label>E-Mail</label>
                    <div class="ui left labeled icon input">
                        <input placeholder="E-Mail" type="email" name="email" ng-model="email" required>
                        <i class="user icon"></i>
                        <div class="ui corner label">
                            <i class="asterisk icon"></i>
                        </div>
                    </div>
                </div>
                <div class="field" ng-class="{error: form.password.$dirty && form.password.$invalid}">
                    <label>Password</label>
                    <div class="ui left labeled icon input">
                        <input placeholder="Password" type="password" ng-model="password" required>
                        <i class="lock icon"></i>
                        <div class="ui corner label">
                            <i class="asterisk icon"></i>
                        </div>
                    </div>
                </div>
                <button type="submit" class="ui blue submit button" ng-disabled="form.$invalid" ng-class="{disabled: form.$invalid}">Login</button>
            </div>
        </form>
    </div>
    <div class="ui vertical divider">
        Or
    </div>
    <div class="center aligned column">
        <a href="#/user/register" class="huge green ui labeled icon button">
            <i class="signup icon"></i>
            Sign Up
        </a>
    </div>
</div>