extends layout

block content
    div.container(style="width: 600px; margin: 0 auto; font-family: open sans;")
        h1 Login
        div.ui.form.segment.error
            if (message)
                div.ui.error.message
                    div.header Error
                    p= message
            form(action='/user/login', method='post')
                !{form}
                button.ui.blue.button Login
