extends layout

block content
  div.container(style="width: 600px; margin: 0 auto; font-family: open sans;")
    h1=title
    div.ui.form.segment
        div.field
          label(for='Name') Name
          input#name(placeholder='Name' type='text')
        div.field
          label(for='Surname') Surname
          input#surname(placeholder='Surname' type='text')
        div.field
          label(for='Email') Email
          input#email(placeholder='Email' type='text')
        div.field
          label(for='Username') Username
          input#username(placeholder='Username' type='text')
        div.field
          label(for='Password') Password
          input#password(placeholder='Password' type='text')
        div.field
          label(for='PasswordConfirmed') Password Confirmed
          input#passwordcondfirmed(placeholder='Password' type='text')
        button.ui.blue.button Submit