// index page for users
.ui.stackable.page.grid(ng-if='user')
  .row.middle.aligned
    .twelve.wide.column
      .ui.large.header
        .content
          | Hej&nbsp;
          b(ng-bind='user.alias')
          | , welcome back!
          .sub.header Catch up on the stuff you missed since your last visit…
    .four.wide.column
      //a.ui.mini.labeled.green.right.floated.create.icon.button(href='#/games/create')
        i.add.icon
        | New Challenge
  .row
    .column.eleven.wide
      .column.eleven.wide
        .ui.small.feed.piled.segment
          h3 Recent Activity
          .event
            .label
              i.circular.pencil.icon
            .content
              .date Just a moment ago...
              .summary
                | You left a comment on &nbsp;
                a(href='#/') Johnny's
                | &nbsp;Profile
              .extra.text Hey Johnny your game against Carl was amazing ;-)
          .event
            .label
              img(ng-src='{{user.photo}}', ng-if='user.photo')
            .content
              .date 1 minute ago
              .summary
                a(href='#/') Johnny
                | &nbsp; added you as a friend. Leave a comment on his profile...
          .event
            .label
              i.circular.gamepad.icon
            .content
              .date 1 day ago
              .summary
                | You won a game against&nbsp;
                a(href='#/') Pablo
          .event
            .label
              i.circular.signal.icon
            .content
              .date 1.5 days ago
              .summary You reached a strength of <b>26kyu</b>, congratulations!
          .event
            .label
              i.circular.gamepad.icon
            .content
              .date 2 days ago
              .summary
                | You lost a game against&nbsp;
                a(href='#/') Roger
    .column.five.wide
      .ui.small.feed
        .ui.dividing.header What's New?
        .event
          .label
            i.small.circular.wrench.icon
          .content
            .summary
              a(href='#/') New WebRTC freature implemented
        .event
          .label
            i.small.circular.github.icon
          .content
            .summary
              a(href='https://github.com/markusblasek/lets.go') Watch our repository on GitHub
        .event
          .label
            i.small.circular.info.letter.icon
          .content
            .summary
              a(href='#/') Go Gaming Community grows more and more...
        .event
          .label
            i.small.circular.pencil.icon
          .content
            .summary
              a(href='#/') Awesome gaming website called "Let's Go" appeared

// landing page for unknown users
.ui.stackable.page.grid#landing(ng-if='!user')
  .middle.aligned.row
    .ten.wide.column
      .ui.eyecatcher.header Play Go in a real-life fashion, online.
      p.subtitle.
        <em>Let's go</em> is the so far most natural way of playing Go online
        with thousand other enthusiasts. But don't take our word for it,1 just
        try it out yourself!
    .six.wide.column
      lg-validated-form(lg-button='Create an account', lg-submit='register()')
        lg-validated-field(lg-field='email')
          .ui.left.labeled.icon.input
            input(placeholder='Your E-Mail', type='email', name='email', ng-model='newUser.email', required)
            i.user.icon
        lg-validated-field(lg-field='alias')
          .ui.left.labeled.icon.input
            input(placeholder='Pick a username', type='text', name='alias', ng-model='newUser.alias', required)
            i.user.icon
        lg-validated-field(lg-field='password')
          .ui.left.labeled.icon.input
            input(placeholder='Choose a password', type='password', name='password', ng-model='newUser.password', required)
            i.lock.icon
      .ui.center.aligned.basic.segment
        | Or just use an external service to create and properly update an account for you with only one click:
        p
          .ui.small.buttons
            a.ui.facebook.button(href='/user/auth/facebook')
              i.facebook.icon
              | Facebook
            .or
            a.ui.google.plus.button(href='/user/auth/google')
              i.google.plus.icon
              | Google
  .ui.section.divider
  .center.aligned.one.column.row
    .column
      .ui.huge.header
        | Why you'll love let's go.
        .sub.header The most natural Go gaming platform ever!
  .center.aligned.three.column.row
    .column
      i.huge.circular.inverted.red.gamepad.icon
      .ui.header Thousand Players around the globe.
      p.
        Play Go online with thousand other players around the globe. The border between real and virtual
        gaming blurs, thanks to the integration of new multimedia techniques.
    .column
      i.huge.circular.inverted.green.chat.icon
      .ui.header Real time text, audio and video communication.
      p.
        Real time collaboration, be it text, audio or video, is a key factor in this platform. It's a basic feature of human interaction and
        thus we have to make sure that you get exactly that, not less!
    .column
      i.huge.circular.inverted.blue.github.icon
      .ui.header Open-source software made with <i class="heart icon"></i>
      p.
        Let's go is a quality service and product we are proud of. It's made
        with love and no ill intent. Therefore the whole source-code is available
        online through <a href="https://github.com/markusblasek/lets.go">Github</a>.
