#menu.ui.page.grid(ng-show='user')
  .ui.secondary.pointing.menu
    a.logo.item(href='#/')
      | &nbsp;
      #logo
    a.item(href='#/chat', ng-class="{active: activePath =='/chat'}")
      i.users.icon
      | CHAT
    a.item(href='#/messages', ng-class="{active: activePath =='/messages'}")
      i.mail.icon
      | MESSAGES
    a.item(href='#/games', ng-class="{active: activePath =='/games'}")
      i.gamepad.icon
      | GAMES
    .right.menu.borderless
      .ui.online.fitted.item
        .ui.circular.label(ng-bind='"#" + online')
        | &nbsp;online
      .ui.dropdown.item.simple.fitted
        img.ui.avatar.image(ng-src='{{user.photo}}', ng-if='user.photo')
        b(ng-bind='user.alias')
        .menu.left
          a.item(href='#/user/{{user._id}}') Account
          a.item(href='#/user/edit') Edit
          a.item(href='#', ng-click='logout()') Logout

#menu-unknown(ng-show='!user')
  .ui.one.column.page.grid
    .column
      a.ui.right.floated.small.button(href='#/user/login') Sign in
      a.ui.right.floated.small.green.button(href='#/user/register', style='margin-right: 8px;') Sign up
      #logo
        a(href='#/') let's go
  .ui.divider
