#menu.ui.page.grid(ng-if='user')
  .ui.secondary.pointing.menu
    a.logo.item(href='#/')
      | &nbsp;
      #logo
    a.item
      i.users.icon
      | CHAT
      div.ui.small.teal.label(ng-bind='online')
    a.item(href='#/messages')
      i.mail.icon
      | MESSAGES
    a.item(href='#/games')
      i.gamepad.icon
      | GAMES
    .right.menu.borderless
      div.ui.dropdown.item.simple.fitted
        img.ui.avatar.image(ng-src='{{user.photo}}', ng-if='user.photo')
        b(ng-bind='user.alias')
        div.menu.left
          a.item(href='#/user/edit') Edit
          a.item(href='#', ng-click='logout()') Logout

#menu-unknown(ng-if='!user')
  .ui.one.column.page.grid
    .column
      a.ui.right.floated.small.button(href='#/user/login') Sign in
      a.ui.right.floated.small.green.button(href='#/user/register', style='margin-right: 8px;') Sign up
      #logo
        a(href='#/') let's go
  .ui.divider
