div.ui.inverted.borderless.main.menu
  div.container
    a.item(href='#/')
      img#logo.ui.image(src='/static/img/ic_logo.png')
    a.item(ng-if='user')
      i.users.icon
      | CHAT
      div.ui.small.teal.label(ng-bind='online')
    a.item(href='#messages',ng-if='user')
      i.mail.icon
      | MESSAGES
      //if(messages > 0)
        div.ui.small.teal.label #{messages}
    a.item(href='#/games', ng-if='user')
      i.gamepad.icon
      | GAMES
    div.right.menu.borderless(ng-if='!user')
      div.item
        a.ui.blue.button(href='#/user/login') login
      div.item
        a.ui.teal.button(href='#/user/register') sign up
    div.right.menu.borderless(ng-if='user')
      div.ui.dropdown.item.simple
        i.icon.user
        img.ui.avatar.image(ng-src='{{user.photo}}', ng-if='user.photo')
        b(ng-bind='user.alias')
        div.menu.left
          a.item(href='#/userDetail') Edit
          a.item(href='#', ng-click='logout()') Logout
