- var messages = 5;

div.ui.inverted.fixed.small.borderless.main.menu(style='margin: 0;')
    a.item(href='/')
        img.ui.small.image(src='/img/ic_logo.png')
    a.item
        i.mail.icon
        | MESSAGES
        if(messages > 0)
            div.ui.small.teal.label #{messages}
    a.itemc
        i.user.icon
        | FRIENDS
    div.right.menu.borderless
        if (!user)
            div.item
                div.ui.icon.input
                    input(type='text' placeholder='Username')
                    i.user.icon
            div.item
                div.ui.icon.input
                    input(type='password' placeholder='Password')
                    i.lock.basic.icon
            a.item(href='/user/login')
                div.ui.button login
            a.item(href='/user/register')
                div.ui.teal.button sign up
        if(user)
            div.item
                div.ui.button Welcom #{user.email}
            a.item(href='/user/logout')
                div.ui.button Log-out