div.ui.wide.right.labeled.icon.sidebar.menu(ng-if='user')
    div.menu
        div.ui.input.item
            textarea(type='textarea', placeholder='Message...', onkeyup="while(this.scrollTop > 0) {this.rows++;}")
        div.ui.button.teal Send





