#user-login
  .ui.two.column.middle.aligned.stackable.grid
    .column
      .ui.attached.blue.message
        .ui.header Sign In
        p To use this fucking awesome service right now!
      lg-validated-form(lg-button='Login', lg-submit='login()')
        lg-validated-field(lg-field='email', lg-label='E-Mail')
          .ui.left.labeled.icon.input
            input(placeholder='E-Mail', type='email', name='email', ng-model='user.email', required)
            i.user.icon
            .ui.corner.label
              i.asterisk.icon
        lg-validated-field(lg-field='password', lg-label='Password')
          .ui.left.labeled.icon.input
            input(placeholder='Password', type='password', name='password', ng-model='user.password', required)
            i.lock.icon
            .ui.corner.label
              i.asterisk.icon
    .center.aligned.column
      p.
        You don't have an account? That's too bad, but no worries, we got you covered.
        Just use our dead simple registration form to
        <a href="#/user/register">create an account</a>
        right now and start playing Go with other enthusiasts in now time!
      .ui.horizontal.section.divider Or
      p.
        Use an external service to sign in. If you don't have already an account, we create one
        for you with updated information with just one click.
      .ui.small.buttons
        a.ui.facebook.button(href='/user/auth/facebook')
          i.facebook.icon
          | Facebook
        .or
        a.ui.google.plus.button(href='/user/auth/google')
          i.google.plus.icon
          | Google
