h1.ui.dividing.medium.header Log In
div.ui.two.column.middle.aligned.relaxed.grid.basic.segment
  div.column
    lg-validated-form(lg-button='Login', lg-submit='login()')
      lg-validated-field(lg-field='email', lg-label='E-Mail')
        div.ui.left.labeled.icon.input
          input(placeholder='E-Mail', type='email', name='email', ng-model='user.email', required)
          i.user.icon
          div.ui.corner.label
            i.asterisk.icon
      lg-validated-field(lg-field='password', lg-label='Password')
        div.ui.left.labeled.icon.input
          input(placeholder='Password', type='password', name='password', ng-model='user.password', required)
          i.lock.icon
          div.ui.corner.label
            i.asterisk.icon
  div.ui.vertical.divider Or
  div.center.aligned.column
    a.huge.green.ui.labeled.icon.button(href='#/user/register')
      i.signup.icon
      | Signup
    div &nbsp;
    div.ui.vertical.labeled.icon.buttons
      a.ui.facebook.button(href='/user/auth/facebook')
        i.facebook.icon
        | Sign in with Facebook
      a.ui.google.plus.button(href='/user/auth/google')
        i.google.plus.icon
        | Sign in with Google
