lg-validated-form(lg-button='Register', lg-submit='register()')
  lg-validated-field(lg-field='email', lg-label='E-Mail')
    div.ui.left.labeled.icon.input
      input(placeholder='E-Mail', type='email', name='email', ng-model='user.email', required)
      i.user.icon
      div.ui.corner.label
        i.asterisk.icon
  lg-validated-field(lg-field='alias', lg-label='Display Name')
    div.ui.left.labeled.icon.input
      input(placeholder='GameLord1337', type='text', name='alias', ng-model='user.alias', required)
      i.user.icon
      div.ui.corner.label
        i.asterisk.icon
  lg-validated-field(lg-field='name', lg-label='Real Name')
    input(placeholder='John Doe (Optional)', type='text', name='name', ng-model='user.name')
  lg-validated-field(lg-field='password', lg-label='Password')
    div.ui.left.labeled.icon.input
      input(placeholder='Password', type='password', name='password', ng-model='user.password', required)
      i.lock.icon
      div.ui.corner.label
        i.asterisk.icon
