form(name='form', ng-submit='create()', novalidate)
  div.ui.form.segment(ng-class='{loading: loading, warning: error}')
    div.ui.warning.message(ng-if='error')
      div.header Something went wrong, sorry!
      ul.list
        li(ng-bind='error')
    div.field(ng-class='{error: form.name.$dirty && form.name.$invalid}')
      label Name
      input(placeholder='Game description (Optional)', name='name' type='text', ng-model='game.name')
    div.field(ng-class='{error: form.size.$dirty && form.size.$invalid}')
      label Board Size
      div.ui.selection.dropdown
        input(name='size', type='hidden', value='9')
        div.text 9x9
        i.dropdown.icon
        div.menu.transition.hidden
          div.item.active(data-value='9', ng-click='game.size = 9') 9x9
          div.item(data-value='13', ng-click='game.size = 13') 13x13
          div.item(data-value='19', ng-click='game.size = 19') 19x19
    div.field(ng-class='{error: form.private.$dirty && form.private.$invalid}')
      label Private Game
      div.ui.checkbox
        input#private-game(name='private', type='checkbox', ng-model='game.private')
        label(for='private-game') Block spectators from watching the game
    button.ui.blue.submit.button(type='submit', ng-disabled='form.$invalid', ng-class='{disabled: form.$invalid}') Create
