#games-list.ui.page.grid
  .one.column.row
    .column
      a.ui.mini.labeled.right.floated.create.icon.button(href='#/games/create')
        i.add.icon
        | New Challenge

      .ui.basic.segment(ng-show='my')
        .ui.green.ribbon.label
          b My Running Games
        table.ui.small.basic.table
          thead
            tr
              th.four.wide Configuration
              th.four.wide Opponent
              th Description
              th.one.wide
          tbody
            tr(ng-repeat='game in my')
              td.ui.small.labels
                .ui.black.label(ng-bind='game.size + "x" + game.size')
                .ui.green.label(ng-show='game.komi > 0', ng-bind='"+" + game.komi')
                .ui.red.label(ng-bind='game.color.substr(0, 1)')
                .ui.blue.label(ng-show='game.private') Priv.
              td
                a(ng-if='game.challenger._id !== user._id', href='#/user/{{game.challenger._id}}')
                  img.ui.avatar.image(ng-src='{{game.challenger.photo}}')
                  span(ng-bind='game.challenger.alias')
                a(ng-if='game.challengee._id !== user._id', href='#/user/{{game.challengee._id}}')
                  img.ui.avatar.image(ng-src='{{game.challengee.photo}}')
                  span(ng-bind='game.challengee.alias')
              td(ng-bind='game.name')
              td
                a.ui.right.floated.green.mini.button(ng-click='view(game._id)') Play!

      .ui.basic.segment(ng-show='open')
        .ui.blue.ribbon.label
          b Open Challenges
        table.ui.small.basic.table
          thead
            tr
              th.four.wide Configuration
              th.four.wide Challenger
              th Description
              th.one.wide
          tbody
            tr(ng-repeat='game in open')
              td.ui.small.labels
                .ui.black.label(ng-bind='game.size + "x" + game.size')
                .ui.green.label(ng-show='game.komi > 0', ng-bind='"+" + game.komi')
                .ui.red.label(ng-bind='game.color.substr(0, 1)')
                .ui.blue.label(ng-show='game.private') Priv.
              td(ng-class='{me: user._id === game.challenger._id}')
                a(href='#/user/{{user._id}}')
                  img.ui.avatar.image(ng-src='{{game.challenger.photo}}')
                  span(ng-bind='game.challenger.alias', ng-show='user._id !== game.challenger._id')
                  span(ng-show='user._id === game.challenger._id') You
              td(ng-bind='game.name')
              td(ng-if='game.challenger._id == user._id')
                a.ui.right.floated.red.mini.button(ng-click='remove(game._id)') Remove
              td(ng-if='game.challenger._id != user._id')
                a.ui.right.floated.blue.mini.button(ng-click='accept(game._id)') Accept

      .ui.basic.segment(ng-show='running')
        .ui.ribbon.label
          b Already Running Games
        table.ui.small.basic.table
          thead
            tr
              th.four.wide Configuration
              th.six.wide Challenger <span class='vs'>vs.</span> Challengee
              th Description
              th.one.wide
          tbody
            tr(ng-repeat='game in running')
              td.ui.small.labels
                .ui.black.label(ng-bind='game.size + "x" + game.size')
                .ui.green.label(ng-show='game.komi > 0', ng-bind='"+" + game.komi')
                .ui.red.label(ng-bind='game.color.substr(0, 1)')
                .ui.blue.label(ng-show='game.private') Priv.
              td
                a(ng-class='{me: user._id === game.challenger._id}', href='#/user/{{game.challenger._id}}')
                  img.ui.avatar.image(ng-src='{{game.challenger.photo}}')
                  span(ng-bind='game.challenger.alias')
                span.vs vs.
                a(ng-class='{me: user._id === game.challengee._id}', href='#/user/{{game.challengee._id}}')
                  img.ui.avatar.image(ng-src='{{game.challengee.photo}}')
                  span(ng-bind='game.challengee.alias')
              td(ng-bind='game.name')
              td
                a.ui.right.floated.mini.button(ng-click='view(game._id)') Watch
