h2.ui.header
  i.icon.inverted.circular.green.gamepad
  | {{ game.challenger.alias }} vs. {{ game.challengee.alias }}

div.ui.grid.vertical.segment
  div.twelve.wide.column
    div.ui.segment
      div.board
        div.row(ng-repeat='row in board')
          div.cell(ng-repeat='item in row')
            div.stone(ng-class='{black: item.cell === "B", white: item.cell === "W"}',
                      ng-click='move($index, $parent.$index)')
  div.four.wide.column
    div.ui.segment
      p
        | Challenger: {{ game.challenger.alias }}
    div.ui.segment
      p
        | Challengee: {{ game.challengee.alias }}
lg-message-box(lg-target-type='game', lg-target-id='{{ game._id }}')

div(style="clear:both")
div.videochat
    video(style="width: 250px; height: 200px; float: left;", id="video_callee", autoplay="true")
    video(style="width: 100px; height: 75px; float: left;", id="video_caller", muted="true", autoplay="true")
    div(style="clear:both")
    input(value="Connect", type="button", ng-click="videoChatConnectChat()")
    input(value="Stop", type="button", ng-click="videoChatCloseChat();")
script(src='/static/lib/webrtc/adapter.js')
script(src='/static/lib/webrtc/webrtc.js')