#games-view.ui.stackable.page.grid
  .one.column.row
    .column
      h2.ui.header
        i.inverted.circular.green.gamepad.icon
        .content
          span(ng-bind='game.challenger.alias', ng-class='{loose: game.challenger.loser, win: game.challenger.winner, draw: game.draw}')
          span.vs vs.
          span(ng-bind='game.challengee.alias', ng-class='{loose: game.challengee.loser, win: game.challengee.winner, draw: game.draw}')
          .sub.header
            | The game is <span ng-bind='game.state'></span>.&nbsp;
            span(ng-show='game.over && !game.winner') No one has won.
            span(ng-show='game.over && game.winner')
              b(ng-bind='game.winner === game.challenger._id ? game.challenger.alias : game.challengee.alias')
              | &nbsp;has won through <span ng-bind="game.reason"></span>.

  .middle.aligned.row
    .eleven.wide.center.aligned.column
      lg-board(lg-game='game', lg-click='click(column, row)')
    .five.wide.column
      .ui.icon.message(ng-if='game.over', ng-class='{info: game.draw || !game.player, green: game.win, red: game.loose}')
        i.frown.icon(ng-show='game.loose')
        i.smile.icon(ng-show='game.win')
        i.meh.icon(ng-show='game.draw && game.player')
        .ui.content
          .ui.header(ng-show='game.draw') Draw!
          .ui.header(ng-show='game.win') You won!
          .ui.header(ng-show='game.loose') You lost!
          .ui.header(ng-show='!game.player')
            span(ng-show='game.winner === game.challenger._id', ng-bind='game.challenger.alias')
            span(ng-show='game.winner === game.challengee._id', ng-bind='game.challengee.alias')
            | &nbsp; won.

      .two.fluid.ui.buttons(ng-if='game.player', ng-show='game.state === "live"')
        .ui.black.button(ng-click='pass()', ng-class='{disabled: game.turn !== user._id}') Pass
        .or
        .ui.red.button(ng-click='surrender()', ng-class='{disabled: game.turn !== user._id}') Surrender

      .two.fluid.ui.buttons(ng-if='game.player', ng-show='game.state === "counting"')
        .ui.green.button(ng-click='done()',
                         ng-class='{disabled: game.accepted.indexOf(user._id) >= 0}',
                         ng-bind='game.accepted.indexOf(user._id) >= 0 ? "Waiting" : "Accept"')
        .or
        .ui.blue.button(ng-click='resume()') Resume

      .ui.section.divider(ng-show='game.player && !game.over')

      .ui.basic.profile.segment(ng-class='{turn: game.over || game.challenger._id === game.turn}')
        .ui.header
          img.ui.avatar.image(ng-src='{{game.challenger.photo}}', ng-if='game.challenger.photo')
          span(ng-bind='game.challenger.alias')
        .ui.tiny.bulleted.list
          .item
            | Color&nbsp;&nbsp;
            span.color
              img.ui.tiny.image(ng-show='game.black === game.challenger._id', src='/static/img/black.png')
              img.ui.tiny.image(ng-show='game.black !== game.challenger._id', src='/static/img/white.png')
          .item
            | Score&nbsp;&nbsp;
            .ui.label(ng-bind='"+" + game.score.challenger')
          .item(ng-if='game.player')
            .ui.button(ng-click='communicate(true)', ng-show='game.challenger._id === user._id && !game.communicate.challenger') Share Audio/Video
            i.facetime.video.icon(ng-show='game.communicate.challenger')
          .item
            div(style='width: 100px; height: 100px; background: red', id='{{game._id}}-{{user._id}}')

      .ui.horizontal.section.divider vs.

      .ui.basic.profile.segment(ng-class='{turn: game.over || game.challengee._id === game.turn}')
        .ui.header
          img.ui.avatar.image(ng-src='{{game.challengee.photo}}', ng-if='game.challengee.photo')
          span(ng-bind='game.challengee.alias')
        .ui.tiny.bulleted.list
          .item
            | Color&nbsp;&nbsp;
            span.color
              img.ui.tiny.image(ng-show='game.black === game.challengee._id', src='/static/img/black.png')
              img.ui.tiny.image(ng-show='game.black !== game.challengee._id', src='/static/img/white.png')
          .item
            | Score&nbsp;&nbsp;
            .ui.label(ng-bind='"+" + game.score.challengee')
          .item(ng-if='game.player')
            .ui.button(ng-click='communicate(true)', ng-show='game.challengee._id === user._id && !game.communicate.challengee') Share Audio/Video
            i.facetime.video.icon(ng-show='game.communicate.challengee')
          .item
            div(style='width: 100px; height: 100px; background: red', id='{{game._id}}-{{user._id}}')

      .ui.section.divider

      lg-message-box(lg-target-type='game', lg-target-id='{{ game._id }}')
